# Editor settings
.vscode

# Tests
tests
coverage
jest.config.js
__mocks__
__mock__
src/tests
*.test.js
*.test.d.ts

# Build tools
.travis.yml
.codecov.yml

# Linters
.prettierignore
.prettierrc
tslint.json

# Type Script Code
tsconfig.json
src/
*.js.map

# Inklecate
vendor/inklecate

# Git
.gitignore
.gitattributes

# npm
*.tgz